<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>

<body>
<div class="contents">
	<table class="subjects" border=1>
		<tr>
			<th class="">
				<a href="./?log=10&amp;sort=num" title="No.で昇順でソートします">No.</a>
			</th>
			<th class="">
				<a href="./?log=10&amp;sort=title" title="作品名で昇順でソートします">作品名</a>
			</th>
			<th class="">
				<a href="./?log=10&amp;sort=author" title="作者で昇順でソートします">作者</a>
			</th>
			<th class="">
				<a href="/sort_hyoka" title="評価で昇順でソートします">評価</a>
			</th>
			<th class="">
				<a href="./?log=10&amp;sort=point" title="POINTで昇順でソートします">POINT</a>
			</th>
			<th class="">
				<a href="./?log=10&amp;sort=rate" title="Rateで昇順でソートします">Rate</a>
			</th>
			<th class="">
				<a href="./?log=10&amp;sort=size" title="容量で昇順でソートします">容量</a>
			</th>
		</tr>

% for c in clists:
		<tr>
			<th class="">
				{{c[0]["id"]}}
			</th>
			<th class="">
				<a href={{c[0]["url"]}}>{{c[0]["title"]}}</a>
			</th>
			<th class="">
				{{c[0]["author"]}}
			</th>
			<th class="">
				{{c[0]["hyoka"]}}
			</th>
			<th class="">
				{{c[0]["point"]}}
			</th>
			<th class="">
				{{c[0]["rate"]}}
			</th>
			<th class="">
				{{c[0]["size"]}}
			</th>
		</tr>
%end
	</table>
</div>

</body>
